@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  text-align: center;
}
.intro {
  text-align: justify;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  width: 100%;
}
div.intro {
  width: 60%;
  margin: 0 auto;
}
